.login-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
}
.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.form{
    background-color: red;
    border-radius: 15px;
    color:white;
    padding: 4% 20% 4% 16%;
    border:1px solid red;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
}
.form div{
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3% 0%;
    width: 120%;
}
.form div input{
    padding: 8px 10px;
    border-radius: 12px;
    border: none;
}
.form button{
    margin: 20px 0 0 0;
    align-self: center;
    padding: 4% 10%;
    border-radius: 15px;
    background-color: white;
    color: red;
    border: red;
    font-size: large;
    border: 1px solid white;
}
.form button:hover{
    background-color: red;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.switch-btns{
    width: 22%;
    background-color: red;
}
.switch-btns button{
    background-color: red;
    font-size: larger;
    border: none;
    color: white;
    padding: 5% 16%;
    width: 50%;
    cursor: pointer;
     border: 1px solid red;
}
.active{
    color: red !important;
    background-color: white !important;
}
@media (max-width:1405px) {
    .switch-btns{
        width: 300px;
    }
}
@media (max-width:500px) {
    .switch-btns{
        width: 200px;
    }
    .switch-btns button{
        font-size: smaller;
    }
    .form{
        font-size: small;
        padding: 30px 20px;
    }
    .form div{
        width: 300px;
    }
    .login-register{
        padding: 40px 3%;
    }
}