.home_s1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: grey;
    padding: 4% 20% 8% 20%;
  
}
.s1_logo{
    padding: 50px;
    /* border-radius: 100%; */
    height:300px;
    filter: drop-shadow(5px 5px 3px #6565658f);
    /* box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.482); */
    margin-bottom: 50px;
}
.s1_p{
    font-size: 200%;
}
.home-s2{
    padding: 30px 20px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
}
.feautures{
     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.feautures img{
    height:200px;
}
.feauture-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   background-color: #fe5555c4;
    padding: 55px;
    color: white ;
    margin: 20px 25px;
    border-radius: 25px;
    cursor: pointer;
     /* border: 4px solid white; */
     box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.482);
     transition: transform 500ms linear;
}
.feauture-box h2{
    color: white;
}
.feauture-box:hover{
    background-color: #ff0000c4;
    color: white;
    transform: scale(1.05);
    /* border: 4px solid white; */
}
.home{
    background-color: white;
}
body{
    background-color: white !important;
}
.head{
    align-self: center;
    font-size: 40px;
    padding: 20px;
    color:rgb(80, 79, 79);
    border-bottom: 1px solid rgba(128, 128, 128, 0.226);
}
.title_s1{
        font-size: 40px;
        color: rgba(255, 0, 0, 0.725);
    }
    .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

@media(max-width:500px) {
    .home_s1{
            padding: 3% 7% 8%;
            justify-content: center;
    }
    .s1_p{
        font-size: 20px;
    }
    .title_s1{
        font-size: 30px;
    }
    
    .feautures img{
        height: 150px;
    }
    .heroimage{
        height: 50vh !important;
    }
    .s1_logo{
        height: 60vw;
        padding: 15px;
    }
    .s3-d1{
        padding: 10%;
        align-items: center;
        justify-content: center;
    }
    .s3-btn{
        padding: 5px;
        height: 50px !important;
        width: 90% !important;
    }
    .s3-h1{
        font-size: 35px !important;
    }
    .s3-h2{
        font-size: 25px !important;
    }
    .s3_image{
        height: 60vw;
    }
}
.home_s3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    min-height: 80vh;
}
.s3-h1{
    font-size: 55px;
    font-weight: 300;
    color: #FF4646;
    margin: 0;
}
.s3-h2{
    font-size: 35px;
    font-weight: 600;
    color: rgba(54, 53, 53, 0.813);
    margin: 0;
}
.s3-d1{
     display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
}
.s3-btn{
    text-align: center;
    cursor: pointer;
    margin-top: 50px;
    background-color: #FF4646;
    border-radius: 40px;
    color: white;
    width: 150px;
    height:50px;
    font-size: 25px;
    font-weight: 300;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.627);
    transition: all 500ms ease-in-out;
    text-decoration: none;
}
.s3-btn:hover{
    color: #FF4646;
    transform: translate(0,-5px);
    background-color: white;
}
.s3_2{
    flex-wrap: wrap;
}
