.shelf{
    background-color: red;
    color:white;
    font-size: large;
    padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}
.shelf-btn{
    background-color: white;
    padding: 15px 30px;
    border-radius: 25px;
    border:1px solid white;   
    color: red;
    margin: 0 25px;
}
.shelf-btn:hover{
    background-color: red;
    color: white;
}
.book{
    background-color: white;
    color:black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border:2px solid white;
    padding: 15px 45px;
    border-radius: 20px; 
    margin:20px;
}
.book img{
    height:150px;
    width:150px;
}
.book p{
    margin : 5px;
}
.book button {
      background-color: #f1f0f095;
    color: black;
    padding: 15px;
    margin: 10px;
    border: black 1px solid;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.book button:hover{
    background-color: red;
    color: white;
    border-color: white;
}
.book button img {
    height: 30px;
    width: 50px;
    padding: 0 10px;
}
@media (max-width:600px) {
    .shelf{
        justify-content: center;
    }
}