.shelf{
    background-color: white;
    color:black;
    font-size: large;
    padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}
.shelf-btn{
    background-color: white;
    padding: 15px 30px;
    border-radius: 25px;
    border: 1px solid red;
    color: #ff0000c4;
    margin: 0 25px;
}
.shelf-btn:hover{
    background-color: #ff0000c4;
    color: white;
}
.book{
    background-color: white;
    border: 1px solid rgba(86, 82, 82, 0.532);
    padding: 20px 10px;
    width:300px;
    color:black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:20px;
}
.book img{
    
    height:250px;
    width:100%;
}
.book p{
    margin : 5px;
}
.book button {
      background-color: white;
    color: black;
    margin: 10px;
   border:1px solid black;
     height: 65px;
    width: 65px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 100%;
}
.book button:hover{
    background-color: #ffb4b4;
    color: white;
  
}
.book button img {
    height: 30px;
    width: 50px;
    padding: 0 10px;
}
@media (max-width:600px) {
    .shelf{
        justify-content: center;
    }
}