button:disabled{
    background-color: grey;
}
.image-preview{
    background-color: #fff;
    align-self: center;
     height: 220px;
    width: 220px;
    color:  #000 !important;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center;
        box-shadow: 5px 1px 15px rgba(0, 0, 0, 0.241);

}
.image-preview img{
    height: 200px;
    width: 200px;
}