html{
    height:100vh;
}
.app,.root,body{
    height: 100%;
}
.chatroom{
    background-color: white;
    color:black;
    text-align: center;
   height:100%;
}
.chatroom h1{
    margin: 0 0 15px 0;
}
.chat-list{
    display: flex;
    flex-direction: column;
   align-items: center;
     height:80vh;
}
.chat-list-item{
    border:1px solid  rgba(86, 82, 82, 0.532);
    cursor: pointer;
    text-align: left;
    font-size: larger;
    background-color: white;
    color: #ff0000c4;
    width: 80%;
    border-radius: 15px;
    padding: 25px;
    margin: 10px;
}
.jc-sb{
    justify-content: space-between;
}
.chat-list-item h3{
    color: black;
    font-weight: 900;
}
.chat-list-item p{
    color: grey;
}
.chat-head{
    align-self: center;
    font-size: 40px;
    padding: 20px;
    color:rgb(80, 79, 79);
    border-bottom: 1px solid rgba(128, 128, 128, 0.226);
}