html{
    height:100vh;
}
.app,.root,body{
    height: 100%;
}
.chatroom{
    background-color: red;
    color:white;
    text-align: center;
   height:100%;
}
.chatroom h1{
    margin: 0 0 15px 0;
}
.chat-list{
    display: flex;
    flex-direction: column;
   align-items: center;
     height:80vh;
}
.chat-list-item{
    cursor: pointer;
    text-align: left;
    font-size: larger;
    background-color: white;
    color: red;
    width: 80%;
    border-radius: 15px;
    padding: 25px;
    margin: 10px;
}
.jc-sb{
    justify-content: space-between;
}
.chat-list-item h3{
    color: black;
    font-weight: 900;
}
.chat-list-item p{
    color: grey;
}