.footer{
    justify-content: center;
        border-top:1px solid rgba(128, 128, 128, 0.226);
        padding:45px;
}
.footer-logo{
  
    height: 80px;
    border-radius: 100%;
    cursor: pointer;

}