.navbar,.footer{
    display: flex;
    flex-direction: row;
    background-color: white;
    color: gray;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.226);
}
.nav{position: sticky;top:0;z-index: 100;}
.nav-logo{
    height: 90px;
    border-radius: 100%;
    cursor: pointer;
}
.left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 25px;
}
.left a,.right a,.right button,.mobilemenu a,.mobilemenu button,.dd{
    color: gray;
    text-decoration: none;
    font-size: larger;
    padding: 15px;
    margin: 0 15px;
}
.right button,.mobilemenu button{
    background-color: rgb(255 0 0);
    color: white;
    padding: 10px 25px; 
    margin: 10px;
    transition: all 300ms ease-in-out;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 1px 15px rgba(0, 0, 0, 0.241);
}
.right button:hover,.mobilemenu button:hover{
    color: #ff0000c4;
    transform: translate(0,-3px);
    background-color: white;
}
.nav-active{
    background-color: white !important;
    color: #ff0000c4 !important;
    border-radius: 30px !important;
}
.menubtnbox{
    height:50px;
    width:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.line1, .line2 ,.line3{
    height:10px;
    width:40px;
    background-color: #ff0000c4;
    margin: 5px 0;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: ease-in-out 1s;
    -webkit-transition: ease-in-out 1s;
    -moz-transition: ease-in-out 1s;
    -ms-transition: ease-in-out 1s;
    -o-transition: ease-in-out 1s;
}
.mobilemenu{
    background-color: white;
    color:gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 5;
    width: 100%;
    padding: 20px 0;
    border-top:1px solid rgba(128, 128, 128, 0.226);
    border-bottom:1px solid rgba(128, 128, 128, 0.226);
}
.right a:hover,.left a:hover,.dd:hover{
    color:#ff0000c4;
}
.text{
    color:gray;
}
.text:hover{
    color:#ff0000c4;
    
}
.dd{
    border-radius: 25px;
    color: grey;
}
.mobilemenu a:hover{
    color: #ff0000c4;
}